@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --pink: #efc9c4;
  --green: #678480;
  --blue: #53869e;
  --shadow: 16px 16px 48px #2e364330;
}

.App {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  display: flex;
  background-color: #d3d9e230;
}

/************ For smaller screen sizes ************/
@media (max-width: 768px) {
  .App {
    width: 100vw;
    font-size: 80%;
    flex-direction: column;
    align-items: flex-start;  
    justify-content: flex-start;
  }
}